<div class="container">
    <div class="row col-xs-12">
        <app-test-message *ngIf="isViewable"></app-test-message>
        <div class="row col-xs-12 mt-16 mb-16">
            <input type="text" class="form-control px-md-5" [(ngModel)]="userName">
        </div>
        <div class="row col-xs-12">
            <p *ngIf="serverCreated; else noServer">The server was created. Server name is: {{ serverName }};
                <span 
                [ngStyle]="{'background-color': getColor()}"
                [ngClass]="{online: serverStatus === 'online'}"
                >Server status is: {{ getStatus() }}</span>
            </p>
            <ng-template #noServer>
                <p>No server was created!</p>
            </ng-template>
        </div>
        <button type="button" class="btn btn-primary" (click)="callFunction()" [disabled]="!userName">click</button>
    </div>
</div>

