<div class="container">
    <div class="row col-xs-12">
        <app-test-message *ngIf="serverCreated"></app-test-message>
        <div class="row col-xs-12 mt-16 mb-16">
            <input type="text" class="form-control px-md-5" [(ngModel)]="userName">
        </div>
        <div class="row col-xs-12">
            <p *ngIf="serverCreated">The server was created.</p>
            <p *ngIf="!serverCreated && !servers.length">No server was created!</p>
            <div *ngFor="let server of servers">
                <span>Server name is: {{ server }};</span>
                <span
                [ngStyle]="{'background-color': getColor()}"
                [ngClass]="{online: serverStatus === 'online'}"
                >Server status is: {{ getStatus() }}</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addServers()" [disabled]="!userName">click</button>
    </div>
</div>

